<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    <style>
    </style>
</head>
<body>
    <div class="header-container">
        <nav class="navbar">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/gioi-thieu">Giới thiệu</a></li>
                <li><a href="/tin-tuc">Tin tức</a></li>
                <li><a href="/san-pham">Sản Phẩm</a></li>
                <li><a href="/lien-he">Liên hệ</a></li>
                <li><a href="/khuyen-mai">Khuyến mãi</a></li>
                <li><a href="/gio-hang"><img src="{% static 'images/carts.png' %}" alt="Giỏ hàng" /></a></li>
            </ul>
        </nav>
    </div>
    <!-- Slider -->
    {% block content %}
    {% endblock %}
</body>
</html>
