
{% extends "page/layout2.html" %}
{% block title %}
Home
{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
<main>
    <div class="container-fluid pt-5">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    
                    <!-- {% for item in cart_items %}
                    <tbody class="align-middle">
                        <tr class="showbuy">
                            <td class="align-middle">
                                <img src="{% static 'images/' %}{{ item.HinhAnh }}" alt="" width="50px">
                                <h5 class="card-title">{{item.TenSP}}</h5>
                            </td>
                            <td class="align-middle"><p class="card-text">{{item.DonGia}}</p></td>

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus decrease">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <span class="form-control form-control-sm bg-secondary text-center" id="value">0</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus increase">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">VNĐ</td>
                            <td class="align-middle" id="product{{ item.id }}">
                                <button class="btn btn-sm btn-primary btn-delete" data-product-id="{{ item.id }}">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                    {% endfor %} -->
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    
                    {% if cart %}
                       <div class="input-group-append">
                            <a href="/childfashion/clearCart" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-trash text-primary mr-1 fs-3">
                                </i>
                            </a>
                        </div>
                    
                    {% for item in cart %}
                    
                    <tbody class="align-middle">
                        <tr class="showbuy">
                            <td class="align-middle">
                                <img src="{% static 'images/' %}{{ item.hinhanh }}" alt="" width="50px">
                                <h5 class="card-title">{{item.name}}</h5>
                            </td>
                            <td class="align-middle"><p class="card-text">{{item.price|intcomma}} VND</p></td>

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    
                                    <form action="{% url 'updatequantity' item.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="form-control me-2" type="number" name="quantity" value="{{item.quantity}}">
                                        <button type="submit" class="btn btn-success">
                                            Cập nhật
                                        </button>
                                    </form>
                                    
                                </div>
                            </td>
                            <td class="align-middle"> {{item.item_total|intcomma}}</td>
                            <td class="align-middle">
                                <a href="/childfashion/deleteToCart/{{item.id}}" class="btn btn-sm text-dark p-0" onclick="return confirm('Bạn có chắc xóa sản phẩm này ?')"><i class="fas fa-times-circle text-primary mr-1 fs-4"></i></a>
                            </td>
                            
                        </tr>

                    </tbody>
                    {% endfor %}
                    {% else %}
                    <h1>Không có sản phẩm trong giỏ hàng</h1>
                    {% endif %}
                    


                    

                    
                </table>
            </div> 
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ product_total|intcomma }} VND</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}